.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);

  &__content {
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 20px;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__title {
    font-size: 25px;
    margin-bottom: 30px;
  }

  &__btn-wrapper {
    text-align: center;
  }

  &__btn-wrapper button:first-child {
    margin-right: 20px;
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}
