.header {
  padding: 10px;
  display: flex;

  &__logo-link {
    flex-grow: 1;
  }

  &__cart {
    width: 40px;
    margin-right: 20px;
    padding-top: 20px;
    position: relative;
  }

  &__favorites {
    padding-top: 20px;
    position: relative;

    & svg {
      width: 40px;
      height: 40px;
    }
  }

  &__favorites-count,
  &__cart-count {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-weight: 700;
  }
}
